* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: sans-serif;
  background: #fafaf7;
}

input, button {
  font-family: inherit;
}